@model ConnectaMVC.Models.ProntuarioModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<p>Arquivar</p>
<p>Alterar Psicologo Responsavels</p>
<div>
    <h4>ProntuarioModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PsicologoResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PsicologoResponsavel.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataUltimaAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataUltimaAtualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Queixas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Queixas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProntuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProntuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProntuarioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
